button {
  font-family: "calluna";
  font-weight: normal;
}

input {
  font-family: "calluna";
  font-weight: normal;
}

.collapse {
  visibility: collapse;
}

.show {
  display: flex !important;
  visibility: visible;
}

#title {
  margin: 0;
}

/* Filter & search styling start below */
h3 {
  margin: 5% 0 2.5% 0;
}

/* Search box styling */
.dataTables_filter {
  display: none;
}

/* Button styling */

#keyword-search {
  color: #fff ;
  border: none;
  width: 20%;
}

.btn-primary {
  background-color: #242E2E !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #4D5051 !important;
}

/* Filter styling */

/* Width of each filter button */
/* MUST MANUALLY SET DEPENDING ON NUM FILTERS*/
/* Current num filters: 3 */
#filters .dropdown {
  width: 30%; 
}

#filterDropdownButton {
  width: 100%;
  text-align: left;
}

#filters  {
  color: white;
}

/* Filter checkbox styling */
#dropdownList li.active label {
  background-color: #CCC;
  font-weight:bold;
}

#dropdownList li label:hover,
.checkbox-menu li label:focus {
  background-color: #E5E5E5;
  cursor: pointer;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #CCC;
}

/* Change table header styling */
.table-striped>thead {
  background-color: #222E2E;
  color: white;
}

/* Implement custom table striped coloring */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white;
 }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #C7D6D6;
 }

/* Change table border color  */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #222E2E;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #222E2E;
  border-right: 1px solid #222E2E;
}

table.dataTable.cell-border tbody tr th:nth-child(2),
table.dataTable.cell-border tbody tr td:nth-child(2) {
  border-left: 1px solid #222E2E;
}
