button {
  font-family: "calluna";
  font-weight: normal;
}

input {
  font-family: "calluna";
  font-weight: normal;
}

.collapse {
  visibility: collapse;
}

.show {
  visibility: visible;
}

#title {
  margin: 0;
}

/* Filter & search styling */
h3 {
  margin: 5% 0 2.5% 0;
}

/* Search box styling */
.dataTables_filter {
  display: none;
}

.search-container {

}

/* #searchFilter {
  width: 100%;
  border: 1px solid #AAAAAA;
  padding: 1%;
} 

.search-button {
  background-color: #242E2E;
  color: white;
  height: 100%;
}*/

#keyword-search {
  color: #fff ;
  background-color: #242E2E;
  border: none;
}

.btn-primary:active, .btn-primary:hover {
  background-color: #4D5051 !important;
}

/* test

.form-check li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.form-check li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.form-check li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.form-check li label:hover,
.form-check li label:focus {
  background-color: #f5f5f5;
}

.form-check li.active label:hover,
.form-check li.active label:focus {
  background-color: #b8b8ff;
}  */

/* Filter styling */
.filter-dropdown-button {
  background-color: #242E2E;
  border: 1px solid white;
  padding: 2.5% 5%;
  text-align: left;
  width: 100%;
}

#filters  {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5%;
}

.filter-category {
  position: relative;
  display: inline-block;
  width: 25%;
}

.filter-drop-down-active, .filter-dropdown-button:hover {
  background-color: #4D5051;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: auto;
}

.show-dropdown {
  display: block;
}

.filter-category .cb-input {
  background-color: #242E2E;
  border: 1px solid white;
  padding: 2.5% 5%;
}

.filter-category .cb-input label {
  font-weight: normal;
  padding-left: 5%;
}

/* Change table header styling */
.table-striped>thead {
  background-color: #222E2E;
  color: white;
}

/* Implement custom table striped coloring */
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; 
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #C7D6D6; 
 }

/* Change table border color  */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #222E2E;
} 

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, 
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
} 

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #222E2E;
  border-right: 1px solid #222E2E;
}

table.dataTable.cell-border tbody tr th:nth-child(2),
table.dataTable.cell-border tbody tr td:nth-child(2) {
  border-left: 1px solid #222E2E;
}