button {
  font-family: "calluna";
  font-weight: normal;
}

input {
  font-family: "calluna";
  font-weight: normal;
}


.collapse {
  visibility: collapse;
}

.show {
  visibility: visible;
}
